@page
@{
    Layout = "/Areas/MyFeature/Pages/Shared/_Layout.cshtml";
}
@model SharedRazorPages.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    Shared Info Page from shared assembly

    <br />

    Data from service: @Model.Data[0]

</body>
</html>
